.top-banner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

p,
li {
  font-size: 14px;
}

img {
  width: 100%;
}
.logo {
  text-align: center;
}

.logo img {
  text-align: center;
  max-width: 400px;
}
.right-container {
  min-width: 70%;
}
.award {
  min-width: 30%;
}
.award img {
  height: 500px;
}

.award-taking img {
  max-width: 600px;
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
  height: 280px;
}

.list-container {
  margin-left: 35px;
  margin-top: 20px;
}

/*###############   MEDIA QUERIES (SMALL DEVICES)   ################*/
@media screen and (max-width: 768px) {
  .top-banner {
    flex-direction: column;
  }
  .award img {
    height: 600px;
  }
  .award-taking img {
    margin-left: 0;
  }
  p {
    text-align: center;
  }
}
